.slider-left {
    background-color: #fff;
    height: 100%;
    padding-right: 10px;
    z-index: 1040;
    position: fixed;
    top: 0;
    left: -530px;
    width: 540px;
    height: 100%;
    transition: left .3s;

    .slider-left-content{
        height: 100%;
        overflow: auto;
    }

    .slider-left-close {
        z-index:100;
        position: absolute;
        right: 0;
        top:50%;
        button {
            padding: 0;
            height: 50px;
            width: 10px;
        }
    }
}

.slider-left.show {
    left: 0;
}



