


.page-content {
  display: flex;
}

.left-nav{
  display: inline-block;
  vertical-align: top;
  min-width: 280px;
}

.main-content {
  flex-grow: 1;
  padding: 0 10px;
  display: inline-block;
}

.right-content {
  margin-top: 10px;
  display: inline-block;
}

.normal {
  width: 340px;
  display: block;
}

.hidden {
  display: none;
}

.right-content-switch {
  position: fixed;
  right: 0;
  top:0;
}

.chart-wrap {
  width: 50%;
  display: inline-block;
}

