
.page-wrap {
  display: flex;
  margin-top: 30px;
}

.page-wrap-product {
  opacity: 1;
}

.page-wrap-daily {
  opacity: 0.1
}


.left-nav{
  display: inline-block;
  vertical-align: top;
  min-width: 280px;
}

.main-content {
  flex-grow: 1;
  padding: 0 10px;
  display: inline-block;
}

.right-content {
  min-width: 340px;
  display: inline-block;
}

