.s-chart-wrap-product {
    opacity: 1;
}

.s-chart-wrap-daily {
    opacity: 0.05
}

.s-chart {
    display: flex;
}

.chart-mian {
    display: inline-block;
    vertical-align: top;
    flex-grow: 1;
}

