.monitor-stock-table table {
    font-size: 12px;
}

.monitor-alert-table table {
    font-size: 12px;
}

.alert-bg {
    background-color: #096dd9;
    color: #fff;
    padding: 3px;
    display: inline-block;
}
