.alert-list-container {

    table {
        font-size: 12px;
    }
    
    .alert-bg {
        background-color: #dff5ff;
        color: #666;
        padding: 3px;
        display: inline-block;
    }
}

.alert-table-wrap {
    height: 100%;
    overflow-y: auto;
}




