.alert-list-container {

    table {
        font-size: 12px;
    }
    
    .alert-bg {
        background-color: #cf1322;
        color: #fff;
        padding: 3px;
        display: inline-block;
    }
}




