
.page-wrap {
    display: flex;
    margin-top: 30px;
}

.page-wrap-product {
    opacity: 1; 
}

.page-wrap-daily {
    opacity: 0.1
}


/* 区块显示 */
.d-i {
    display: inline-block;
}

.c-p {
    cursor: pointer;
}

/* 颜色 */
.c-blue {
    color: blue
}

.c-green {
    color: green;
}

/* 距离 */
.mr5 {
    margin-right:5px;
}
.mr10 {
    margin-right:10px;
}
.mr15 {
    margin-right:15px;
}
.mr20 {
    margin-right:20px;
}
.mr30 {
    margin-right:30px;
}
.ml5{
    margin-left: 5px;
}
.ml10 {
    margin-left:10px;
}
.ml15{
    margin-left: 15px;
}
.ml20 {
    margin-left:20px;
}
.ml30 {
    margin-left:30px;
}
.mt3{
    margin-top: 3px;
}
.mt5{
    margin-top: 5px;
}
.mt8{
    margin-top: 8px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.mt17{
    margin-top: 17px;
}
.mt20{
    margin-top: 20px;
}
.mt30{
    margin-top: 30px;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mb15{
    margin-bottom: 15px;
}
.mb20{
    margin-bottom: 20px;
}
.mb30{
    margin-bottom: 30px;
}
.pad0{
    padding: 0 !important;
}
.pad18{
    padding: 0 18px 0 18px !important;
}
.pad10{
    padding: 10px;
}
.pt5{
    padding-top:5px;
}
.pt10{
    padding-top:10px;
}
.pt15{
    padding-top:15px;
}
.pt20{
    padding-top:20px;
}
.pt30{
    padding-top:30px;
}
.pb5{
    padding-bottom:5px;
}
.pb10{
    padding-bottom:10px;
}
.pb15{
    padding-bottom:15px;
}
.pb20{
    padding-bottom:20px;
}
.pb30{
    padding-bottom:30px;
}
.pl5{
    padding-left:5px;
}
.pl10{
    padding-left:10px;
}
.pl15{
    padding-left:15px;
}
.pl20{
    padding-left:20px;
}
.pr5{
    padding-right:5px;
}
.pr10{
    padding-right:10px;
}
.pr15{
    padding-right:15px;
}
.pr20{
    padding-right:20px;
}

/* 浮动 */
.f-r {
  float:right;
}
.f-l {
  float:left;
}
.o-h {
  overflow: hidden;
}



  