.record-list-container {
    padding: 20px;

    
    .stat-table {
        border:1px solid #e8e8e8;

        td,th {
            border:1px solid #e8e8e8;
            padding: 3px 10px;
        }
    }
}
