.slider-right {
    background-color: #fff;
    height: 100%;
    padding-left: 10px;
    z-index: 1040;
    position: fixed;
    top: 0;
    right: -530px;
    width: 540px;
    height: 100%;
    transition: right .3s;

    .slider-right-content{
        height: 100%;
        overflow: auto;
    }

    .slider-right-close {
        z-index:100;
        position: absolute;
        left: 0;
        top: 50%;
        button {
            padding: 0;
            height: 50px;
            width: 10px;
        }
    }
}

.slider-right.show {
    right: 0;
}



